mainSource/.pio
mainSource/.vscode/.browse.c_cpp.db*
mainSource/.vscode/c_cpp_properties.json
mainSource/.vscode/launch.json
mainSource/.vscode/ipch
mainSource/*.code-workspace
.pio
# Excluir archivo de datos sobre redes internas
mainSource/lib/config.h

# Excluir carpeta de backups de pcb
pcb/MotherBoard/EME-backups
pcb/MotherBoard/EME-backups/[_#~]*
Web/old